* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin-top: 1.5rem;
}
.showSlide {
  display: none;
  -webkit-box-shadow: 2px 5px 8px gray;
  box-shadow: 2px 5px 8px gray;
}
.showSlide img {
  width: 100%;
}
.slidercontainer {
  min-width: 30%;
  position: relative;
  margin: auto;
  width: 30vw;
}
img {
  height: 55vh;
  background-size: cover;
}
.left,
.right {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
p {
  font-size: 1.2rem;
  font-weight: bolder;
  bottom: 0;
  color: white;
  position: absolute;
  margin: 0 12rem;
}
.right {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.left:hover,
.right:hover {
  background-color: black;
}
.content {
  color: hsl(0, 4%, 5%);
  font-size: 2rem;
  padding: 8px 12px;
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
}
.indicators {
  position: absolute;
  left: 47%;
  bottom: 41%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.indicators div {
  line-height: 0;
  padding: 0.9rem;
  height: 0.9rem;
  background-color: gray;
  font-size: 0.9rem;
  margin: 0 1rem;
  color: white;
  border-radius: 50%;
  font-weight: bold;
}
#active {
  background: red;
}
.form_container {
  padding: 1.5rem;
  text-align: center;
  -webkit-box-shadow: 2px 5px 8px gray;
  box-shadow: 2px 5px 8px gray;
  width: 50%;
  margin: 2rem auto;
  border: 2px solid gray;
}
#heading_Add {
  text-align: left;
  -webkit-text-decoration: underline double;
  text-decoration: underline double;
  font-style: italic;
}

.form_container input {
  margin: 0.5rem 0;
}
form input {
  width: 50%;
}
form input:focus {
  outline: none;
  border: 2px red solid;
}
#btn_add {
  background-color: hsl(240, 32%, 63%);
  padding: 0.3rem 3rem;
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
  border: none;
  -webkit-box-shadow: 2px 5px 5px gray;
  box-shadow: 2px 5px 5px gray;
  border-radius: 5px;
}
#btn_add:focus {
  outline: none;
}
#btn_add:hover {
  color: white;
  background-color: gray;
}
