@-webkit-keyframes fade {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h3 {
  text-decoration: underline;
}

a {
  display: none;
}

body {
  font-family: "Titillium Web", sans-serif;
}

.showSlide {
  display: none;
  -webkit-box-shadow: 2px 5px 5px gray;
  box-shadow: 2px 5px 5px gray;
}

.showSlide img {
  width: 100%;
}

.slidercontainer {
  min-width: 30%;
  position: relative;
  margin: auto;
  margin-top: 1.5rem;
  width: 30vw;
}

img {
  height: 28rem;
  background-size: contain;
}

img:hover {
  cursor: -webkit-grab;
  cursor: grab;
}

.left {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1rem;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
}

.left:hover {
  background-color: black;
}

.right {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1rem;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.right:hover {
  background-color: black;
}

p {
  font-size: 1.2rem;
  font-weight: bolder;
  bottom: 0;
  color: white;
  position: absolute;
  margin: 0 12rem;
}

.content {
  background-color: white;
  opacity: 0.4;
  left: 25%;
  color: #0d0c0c;
  font-size: 2rem;
  padding: 0.5rem 0.75rem;
  position: absolute;
  top: 10px;
  width: 50%;
  font-weight: bold;
  text-align: center;
}

.indicators {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.indicators div {
  line-height: 0;
  padding: 0.7rem;
  height: 0.9rem;
  background-color: #a19999;
  font-size: 0.9rem;
  margin: 0 0.3rem;
  color: white;
  border-radius: 50%;
  font-weight: bold;
}

.indicators div:hover {
  cursor: pointer;
}

#active {
  background: red;
}

.form_container {
  min-width: 300px;
  padding: 1rem;
  text-align: center;
  -webkit-box-shadow: 2px 5px 5px gray;
  box-shadow: 2px 5px 5px gray;
  width: 50%;
  margin: 2rem auto;
  border: 1px solid gray;
}

.form_container input {
  margin: 0.5rem 0;
}

form input {
  width: 50%;
  line-height: 1.2rem;
}

form input:focus {
  outline: none;
  border: 1px red solid;
}

#btn_add {
  background-color: #355c7d;
  padding: 0.5rem 0;
  width: 30%;
  min-width: 30%;
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid transparent;
  line-height: 1.2rem;
  color: white;
  margin-top: 1rem;
}

#btn_add:focus {
  outline: none;
}

#btn_add:hover {
  border-radius: 10px;
  color: black;
  border: 1px solid black;
  background-color: transparent;
}

.toggle_container {
  border: 1px solid gray;
  width: 50%;
  margin: 1rem auto;
  padding: 1rem;
  min-width: 300px;
  text-align: center;
}

.toggle_container .input_wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toggle_container input:focus {
  outline: none;
}

.toggle_container:hover {
  border-radius: 5px;
  -webkit-box-shadow: 2px 5px 6px gray;
  box-shadow: 2px 5px 6px gray;
}

label {
  padding: 0.2rem 1rem;
  font-size: 1rem;
}

input {
  padding: 0.2rem 1rem;
  font-size: 1rem;
}

.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@media (max-width: 30rem), (max-width: 60rem) {
  .toggle_container div {
    text-align: left;
  }
  .toggle_container .input_wrapper {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */